@page "/"

@inject ToastService Toasts

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var supported = await Toasts.IsSupported();
            Console.WriteLine($"Supported: {supported}");

            if (supported)
            {
                var permission = await Toasts.RequestPermission();
                Console.WriteLine($"Permission: {permission}");
            }
        }
    }
}